/* body {
    height: 100%;
    width: 100%;
} */

/* target单页分主题失败 */
/* 还有两个方法：
1.用fullPage.js
缺点：技术不统一，可能不兼容，
    且说明较少。
2.swiper嵌套
*缺点：难度大，也可能出现target的情况 
*2018.10.06：已经试验过了,不能用，会互相冲突
*/

/* .swiper-div{
    display: none;
}

:target{
    display: block
} */
*{
    margin: 0;
}

.swiper-cul {
    /* margin: 0 auto; */
    position: relative;
    top:3rem;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    /* align-items:center; */

}
#nav {
    width: 30rem;
    height: 5rem;
    border: 0.01px solid;
    background-color: bisque;
    
}

#nav a {
    display: inline-block;
    height: 5rem;
    width: 7rem
}

#nav #nav_logo {
    height:5rem;
    width:5rem;
    float: right;
    background-color: blue
}
#cul {
   
    width: 30rem;
    height: 30rem;
    background-color: aqua;
}

.img1_and_img2 {
    width: 30rem;
    padding: 0;
    display: flex;
    
}
#cul-img1 {
    
    width: 15rem;
    height: 35rem;
    background-color: brown
}
#cul-img2 {
    
    width: 15rem;
    height: 35rem;
    background-color: green
}

/* 更改图片样式 */
